@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}

/* default styles */
*{
    margin: 0;
}
.container{
    width: 90%;
    margin: 5rem auto; 
    border-radius: 1rem;
}
h3{
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}
p,
li{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
.span{
    color:rgb(255, 84, 0);
}

/* navbar styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 280px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}
.nav-options p{
    cursor: pointer;
}
/* banner styles */
.explore-your-travel{
    background-image: linear-gradient(
    180deg,
    rgba(19,19,24,0.8) 0%,
    rgba(19,19,24,0) 100%
    ),
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-container h3{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.explore-container p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}
.travel-inputs{
    margin-top: 2rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(2px);
}
input, select{
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-primary{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    background-color: rgb(255, 84, 0);
    color: white;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 8px;
    font-weight: 800;
}
/* popular styles */
.popular-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.text-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}
.text-content p, 
.text-content li{
    font-size: 16px;
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.text-content p, 
.text-content li,
.text-content h3{
    text-align: left;
}
/* country section styles */
.destination img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.destination h3{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.destination > p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem
}
.country-card{
    position: relative;
}
.country{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: 800;
    transform: translate(-50%, -50%);
}
.row-2{
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.6fr;
    gap: 1rem;
}
.row-3{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}
/* choose section styles */

.choose-container > h3{
    text-align: center;
}
.choose-container > p{
    text-align: center;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: start;
    gap: 1rem;
}
.card-1{
    width: 573px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    margin-left: 2rem;
}
.card-2{
    width: 573px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    width: 573px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    margin-top: 2rem;
    margin-left: 25rem;
}
.card-1 > i,h3,p{
    text-align: start;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.card-2 > i,h3,p{
    text-align: start;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.card-3 > i,h3,p{
    text-align: start;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
/* footer section styles */
.last-container{
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}
.last-container .logo{
    margin: 2rem auto;
}
.social{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}
.social i{
    height: 44px;
    font-size: 24px;
}
.last-container hr{
    margin: 2rem 0;
}
.menu{
    display: none;
}


/* media screen styles */
@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }
    .menu{
        display: block;
    }
    .explore-your-travel{
        flex-direction: column;
    }
    h3{
       width: 100%;
    }
    .explore-container p{
        width: 100%;
    }
    .travel-inputs{
        flex-direction: column;
        margin-top: 5px;
    }
    .travel-inputs input, select, button{
        margin-bottom: 20px;
    }
    .popular-section{
        grid-template-columns: 1fr;
        width: 100%;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .image{
        width: 50%;
    }
    .row-1,
    .row-2,
    .row-3{
        grid-template-columns: 1fr;
    }
    .card{
        flex-direction: column;
    }
    .card-1{
        align-items: center;
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
    .card-2{
        margin-left: 2rem;
        align-items: center;
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
    .card-3{
        margin-left: 2rem;
        align-items: center;
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
}